.Name {
	font-weight: bold;
}

.Wrapper{
	min-height: 100vh;
	display: flex;
  flex-direction: column;
	padding: 10px;
	background-color:peachpuff;
}

.Table{
	/* display: flex;
  flex-direction: column;
	height: 100vh;	 */
	max-width: 800px;
	/* min-height: 800px;   */
}