.Wrapper{
	min-height: 100vh;
	display: flex;
  flex-direction: column;
	padding: 10px;
	min-width: 300px;
	background-color:peachpuff;
}

.Table{
	max-width: 600px;
	margin-left: 10px;
}

.RisingTrend{
	color: green;
}

.DownTrend{
	color: red;
}

.LateralTrend{
	color: blue;
}

.NominalAndCharCode{
	text-align: right;
	padding-right: 2%;
}